.page-header {
    padding-top: 24px;
    padding-bottom: 24px;
    align-content: center;
    border: 1px solid #ECECEC;
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-nav {
    display: flex;
    align-items: center;
}

.contacts {
    display: flex;
}

.link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

    transition: color var(--transition-duration-func);

    &:hover,
    &:focus {
        color: var(--accent-color);
        }
}



.site-nav .link.current {
    color: var(--accent-color);
}

.nav-list {
    display: flex;
    column-gap: 50px;
}

.contact-mail {
    margin-right: 30px;

    display: flex;
    align-items: center;
    column-gap: 10px;

    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);

    transition: color var(--transition-duration-func);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
}

.icon-contact {
    fill: currentColor;
}

.contact-phone-number {
    display: flex;
    align-items: center;
    column-gap: 10px;

    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);

    transition: color var(--transition-duration-func);
         
    &:hover,
         &:focus {
            color: var(--accent-color);
        }
}

