.logo {
    margin-right: 90px;


    color: var(--primary-text-color);
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.Web-logo {
    color: var(--accent-color);
}