.social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;

}

.social-list-icon {
    fill: #AFB1B8;

    transition: fill var(--transition-duration-func);
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color var(--transition-duration-func)
}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
}

.social-link:hover .social-list-icon,
.social-link:focus .social-list-icon {
    fill: #FFFFFF;
}

.footer-icon {
    fill: var(--primary-background-color);
}

.footer-social-link {
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-list {
    justify-content: flex-start;

}